# Python Bytecode files
*.pyc
__pycache__/

# Virtual Environment
env/

# Django Database and Media Files
db.sqlite3
*.sqlite3
/static/
/media/

# Environment variable file
.env

# Log files
*.log

# System files
*.DS_Store

# IDE configuration files
.vscode/
.idea/

leads/settings.py